nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(235, 235, 235) (129, 116, 116);
}

nav p {
  margin: 0;
  font-size: 18px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffc107;
}
